<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>CarKhariDo_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServelet</display-name>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>com.carkharido.servlet.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.carkharido.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/log-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.carkharido.servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncreDecreServlet</display-name>
    <servlet-name>QuantityIncreDecreServlet</servlet-name>
    <servlet-class>com.carkharido.servlet.QuantityIncreDecreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncreDecreServlet</servlet-name>
    <url-pattern>/quantity-inc-dec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>com.carkharido.servlet.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/remove-from-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookNowServlet</display-name>
    <servlet-name>BookNowServlet</servlet-name>
    <servlet-class>com.carkharido.servlet.BookNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookNowServlet</servlet-name>
    <url-pattern>/book-now</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>com.carkharido.servlet.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/check-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBookingServlet</display-name>
    <servlet-name>CancelBookingServlet</servlet-name>
    <servlet-class>com.carkharido.servlet.CancelBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBookingServlet</servlet-name>
    <url-pattern>/cancel-order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.carkharido.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarFromServlet</display-name>
    <servlet-name>CarFromServlet</servlet-name>
    <servlet-class>com.carkharido.servlet.CarFromServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarFromServlet</servlet-name>
    <url-pattern>/car-from</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarFromSeller</display-name>
    <servlet-name>CarFromSeller</servlet-name>
    <servlet-class>com.carkharido.servlet.CarFromSeller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarFromSeller</servlet-name>
    <url-pattern>/sellcar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.carkharido.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/Image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestOTPServlet</display-name>
    <servlet-name>RequestOTPServlet</servlet-name>
    <servlet-class>com.carkharido.servlet.RequestOTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestOTPServlet</servlet-name>
    <url-pattern>/RequestOTPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyOTPServlet</display-name>
    <servlet-name>VerifyOTPServlet</servlet-name>
    <servlet-class>com.carkharido.servlet.VerifyOTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOTPServlet</servlet-name>
    <url-pattern>/VerifyOTPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitQueryServlet</display-name>
    <servlet-name>SubmitQueryServlet</servlet-name>
    <servlet-class>com.carkharido.servlet.SubmitQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitQueryServlet</servlet-name>
    <url-pattern>/submitQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>initiateUPI</display-name>
    <servlet-name>initiateUPI</servlet-name>
    <servlet-class>com.carkharido.servlet.InitiateUPI</servlet-class>
  </servlet>
</web-app>